* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333030;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 100px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER HEADER HEADER */
/* HEADER HEADER HEADER */
/* HEADER HEADER HEADER */


.main header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-top: 3px;
    /*background-color: #1e9114;*/
    background-color: hsl(0,0%,90%);
    /*-webkit-box-shadow: 0 9px 12px #0e0e23;
    -moz-box-shadow: 0 9px 12px #0e0e23;
    box-shadow: 0 9px 12px #0e0e23;*/
}

header .head {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.head .logo img {
    width: 135px;
    animation: turn 6s linear infinite;
}

.heading h1 {
    animation: glow 1s ease-in-out infinite alternate;
}

.nav-features ul {
    list-style: none;
    display: flex;
}

/* HEADER END HEADER END HEADER END */
/* HEADER END HEADER END HEADER END */
/* HEADER END HEADER END HEADER END */


/* NAV NAV NAV */
/* NAV NAV NAV */
/* NAV NAV NAV */


.link-section {
    width: 100%;
    height: 60px;
    background-color: #262626;
    border-bottom: 3px solid #88ce02;
}

.nav-links {
    height: 100%;
}

.nav-links ul {
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
}

.nav-links ul li {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 165px;    
    min-width: 110px;
    padding: 0 25px;
}

.nav-links ul li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
}

.nav-links ul li:hover {
    background-color: #fff;
    cursor: pointer;
}

.nav-links ul li:hover a {
    color: #000;
}

.nav-links ul li a, .nav-links ul li {
    transition: all .2s ease;
}

/* NAV END NAV END NAV END */
/* NAV END NAV END NAV END */
/* NAV END NAV END NAV END */

/* GRID GRID GRID */
/* GRID GRID GRID */
/* GRID GRID GRID */

.content .grid {
/*    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 1000px;
    max-height: 1000px;
    margin: 30px auto;*/
} 

.item {
/*    border: 1px solid black;
    width: 10px;
    height: 10px;
    background-color: #fff;*/
}

.grid {
  border-collapse: collapse;
  margin: 30px auto;
}

.grid td {
  border: 1px solid #ccc;
  width: 10px;
  height: 10px;
}


/* GRID END GRID END GRID END */
/* GRID END GRID END GRID END */
/* GRID END GRID END GRID END */


@keyframes turn {
    0% {
        transform: rotate(1turn);
    }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #333030,
     0 0 40px #333030, 0 0 50px #333030, 0 0 60px #333030;
  }
  
  to {
    text-shadow: 0 0 20px #000, 0 0 30px hsl(0,0%,90%), 0 0 40px hsl(0,0%,90%), 0 0 50px hsl(0,0%,90%), 0 0 60px hsl(0,0%,90%); }
}